<div class="panel panel-default" >
    <div class="panel-heading">Uploaded Files/Documents</div>
    <div class="panel-body" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="dropingFiles">
        <ul class="list-group">
            <li class="list-group-item {{doc.deleted}} " ng-repeat="doc in docs" >
                <span class="fileIcon {{doc.file.split('.').pop().toLowerCase()}}"></span>
				<a target="_blank" href="{{urlbase}}/download/{{model._id}}/{{doc.file}}" ng-click="openDoc($event)">{{doc.type}}.{{doc.file.split('.').pop().toLowerCase()}}</a>
                <span ng-if="(!nodelete && !doc.noDelete) || isAdmin" class="pull-right glyphicon glyphicon-remove" ng-click="preDeleteDoc(doc)"></span>
            </li>
        </ul>
		<div ng-if="!noupload && !files.files.length" class="btn btn-primary pull-right" ng-file-select="onFileSelect($files)" data-multiple="true">Upload Files</div>
        <div ng-if="files.files.length && !noupload">
			<storng nf-if="msg">{{msg}}</storng>
            <ul class="list-group">
                <li class="list-group-item clearfix" ng-repeat="file in files.files">
                    <div class="col-xs-11 pull-left">
						<input type="text" placeholder="File Description" ng-model="files.fileNames[$index]" class="form-control">  {{file.name}}
                    </div>
					<span class="glyphicon glyphicon-remove pull-right" ng-click="removeFile($index)"></span>
				</li>
            </ul>
            <button class="btn btn-primary" ng-click="upload(files)">Upload Selected Files</button>
        </div>
    </div>
</div>