<section data-ng-controller="UsersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Users</h1>
    </div>
    <div class="well well-sm">
    Filter: <input class="form-control" ng-model="userFilter" />
    </div>
    <div class="list-group">
        <a data-ng-repeat="user in users|filter:userFilter" data-ng-href="#!/users/{{user._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="user.displayName"></h4>
            <small class="list-group-item-text">
                Username:
                <b data-ng-bind="user.username"></b>,
                Email:
                <b data-ng-bind="user.email | date"></b>
                Created on
                <span data-ng-bind="user.created | date"></span>
              </small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!users.$resolved || users.length">
    	No Users yet, why don't you <a href="/#!/users/create">create one</a>?
    </div>
</section>