<div class="panel panel-default" ng-if="user.awaitingApprovals.timesheets">
    <div class="panel-heading">Timesheets Awaiting Approvals</div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item {{doc.deleted}} " ng-repeat="ts in user.awaitingApprovals.timesheets" >
                <a ng-href="#!/timesheets/{{ts._id}}">{{ts.project.user.displayName}} - {{ts.project.vendor.name}} - {{ts.project.client}}</a>
                {{ts.start | date}} to {{ts.end | date}}  <strong>{{getTotal(ts.daily)}} Hours</strong>  - {{ts.status}} - on {{ts.created | date: 'short'}}
            </li>
        </ul>
    </div>
</div>