<section data-ng-controller="ProjectsController" data-ng-init="findOne()">

	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<div class="page-header">
		<h1>Project Details</h1>
	</div>
	<ul class="list-group clearfix">
		<li class="list-group-item">Consultant/User Name: <label>{{project.user.displayName}}</label></li>
		<li class="list-group-item">Vendor Name: <label>{{project.vendor.name}}</label></li>
		<li class="list-group-item">Client Name: <label>{{project.client}}</label></li>
		<li class="list-group-item">Start Date: {{project.startDate | date}}</li>
		<li class="list-group-item">End Date: {{project.endDate | date}}</li>
		<li class="list-group-item">Rate:
			<div ng-repeat="rate in project.rate | orderBy:'date':'reverse' ">
				{{rate.rate | currency}} effective from {{ rate.effectiveDate | date}}
			</div>
		</li>
	</ul>

    <div oi-documents model="project" urlbase="/projects" docs="project.docs"></div>

</section>